<h1>All Tags used in Articles are:</h1>

<ul>
  <% @tag.each do |tag| %>
    <li>
      <%= link_to tag.name, tag_path(tag)%>
      <%= link_to "delete", tag_path(tag), method: :delete, data: {confirm: "Really delete the article?"} %>
    </li>
  <% end %>
</ul>